.landing {
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-areas: '. container .';
    grid-template-columns: 36px 1fr 36px;
}

.landing .container {
    grid-area: container;
    width: 100%;
    max-width: 1000px;
}

.landing h1 {
    font-size: 54px;
    text-align: center;
}
