h2.landing-title {
    text-align: center;
    color: var(--primary);
}

form.landing-form {
    display: grid;
    width: 400px;
}

form.landing-form mat-form-field {
    width: 100%;
}

.landing-form .submit-button {
    justify-self: center;
    min-width: 100px;
}

a.landing-redirect {
    border-top: 1px solid var(--primary);
    padding: 16px 0 0;
    text-align: center;
}
