<h2 mat-dialog-title>{{ operationMessage[ operation ]  }}</h2>
<form *ngIf="operation !== 'delete'; else deleteConfirm"
      [formGroup]="fields" #formDirective="ngForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="duration" value="" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="submit-button" type="submit"
                [disabled]="!fields.valid" color="primary" (click)="formRouter(formDirective)">Submit</button>
    </div>
</form>
<ng-template #deleteConfirm>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="deleteTaskLog()">Confirm</button>
</div>
</ng-template>
