<h2>{{ operation }}</h2>
<form [formGroup]="fields" #formDirective="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>{{ type === 'tasks' ? 'Description' : 'Name' }}</mat-label>
        <input matInput [formControlName]="type === 'tasks' ? 'description' : 'name'" value="" required>
    </mat-form-field>
    <button mat-raised-button class="submit-button" type="submit"
            [disabled]="!fields.valid" color="primary" (click)="formRouter(formDirective)">Register</button>
</form>
